.rules{
  background-color: tomato;
  text-align: center;
}
.rules li{
  list-style: none;
}
.main{
  text-align: center;
  background-color: bisque;
  height:100px;
}
.jumbotron1{
  background-color:goldenrod;
}
.jumbotron2{
  background-color:burlywood;
}
