.rules {
  background-color: tomato;
  text-align: center;
}

.rules li {
  list-style: none;
}

.main {
  text-align: center;
  background-color: bisque;
  height: 100px;
}

.jumbotron1 {
  background-color: goldenrod;
  height: 800px;
}

.jumbotron2 {
  background-color: burlywood;
  margin-right: -100px;
}

.jumbotron3 {
  background-color: transparent;
  color: white;
}

body {
  background-image: url("../images/cool.jpg");
  background-attachment: fixed;
}
